body {
    background-color: rgba(244, 91, 105, 1); /* Fallback color */
    background-color:whitesmoke
     /* Using Asap font directly */
  }
  
  .login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2); /* Fallback color */
    box-shadow: 5px 10px 10px rgb(165, 165, 164);
  }
  
  .login::before,
  .login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  .login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15); /* Fallback color */
    background-color: rgb(5, 5, 5);
    animation: wawes 3s infinite linear;
  }
  
  .login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(0, 0, 0, 0.2); /* Fallback color */
    background-color: rgba(243, 107, 28, 0.836);
    animation: wawes 7s infinite ;
  }
  
  input {
    font-family: "Asap", sans-serif; /* Using Asap font directly */
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  button{
      margin-top: 50px;
      width: 100%;
      background-color: #42b1f1;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
  }
  
  
  @keyframes wawes {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .password-wrapper {
    position: relative;
    width: 100%;
  }

  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.eye-icon:hover {
    color: #333;
}
a{
  color: #007bff
 
  
}
a.signup:hover{
  color:rgba(244, 91, 105, 1)
  
}
.item {
  font-size: 16px;
}

/* Medium screens */
@media (min-width: 768px) {
  .item {
      font-size: 18px;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .item {
      font-size: 20px;
  }
}