<header img>
    <a href="/admin" ><img src="static\magnasoft-logo-2.png" alt="MAGNASOFT Logo" ></a>
    
    <h1 style="display: inline;margin-left: 300px;">Magnasoft Consulting India (P) Ltd. </h1><h4 style="float: right;display:inline;margin-right: 60px;color:white;font-family: Georgia, serif;background: linear-gradient( #6c8996, #000000);padding-left: 20px;padding-right: 30px;border-radius: 10px;padding-bottom: 2px;padding-top: 1px;padding-bottom: 1px;">Welcome {{ session['username'] }}</h4>
    
    
</header img>

<nav>
    <ul>
       
        <li><a href="/admin" id="users-link">Home</a></li>
        <li><a href="/logout" id="settings-link">Logout</a></li>
        <!-- <li><a href="/requestform" id="settings-link">Raise Request</a></li>
        <li><a href="/viewtable" id="settings-link">View Request</a></li>
        <li><a href="/table" id="settings-link">Assign Request</a></li> -->
        <li><a href="/admin_dev" id="settings-link">Status</a></li>
        <li><a href="/developer_status" id="settings-link">Daily Status</a></li>
        <li><a href="/team_status" id="settings-link">Team Status</a></li>
        
    </ul>
    
</nav>